services:
  drivenops_db_test:
    image: postgres
    container_name: drivenops_db_test
    restart: always 
    ports:
      - 4457:5432
    env_file:
      - ../.github/workflow/.env.test

  node_app_test:
    container_name: node_app_test
    build: .
    ports:
      - 5000:5000
    depends_on:
      - drivenops_db_test 
    env_file:
      - ../.github/workflow/.env.test