name: Pull Request
on: [pull_request]
jobs:
  PullRequest:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v3
      - name: Make an env file
        uses: SpicyPizza/create-envfile@v1
        with:
          envkey_POSTGRES_PASSWORD: "postgres"
          envkey_POSTGRES_USER: "postgres"
          envkey_POSTGRES_DB: "students_test"
          envkey_DATABASE_URL: "postgresql://postgres:postgres@drivenops_db_test:5432/students_test"
          file_name: ".env.test"
      - name: Run Tests
        run: docker-compose -f ./back-end/docker-compose-test.yml run node_app_test npm run test --build
